/* $Background = 274A66; */

:root {
  --background: #274a66;
}

html {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  height: 100vh;
}

.upper_bar {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-around;
  gap: 8rem;
}

a {
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
  background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color: #768d87;
  border-radius: 5px;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 23px;
  font-weight: bold;
  padding: 15px 66px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2b665e;
}
a:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}
a:active {
  position: relative;
  top: 1px;
}

.foot_bar {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-around;
  gap: 8rem;
}
